﻿@font-face {
  font-family: 'Pier Sans';
  src: url('Fonts/PierSans-BoldItalic.woff2') format('woff2'), url('Fonts/PierSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('Fonts/PierSans-Regular.woff2') format('woff2'), url('Fonts/PierSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('Fonts/PierSans-Italic.woff2') format('woff2'), url('Fonts/PierSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('Fonts/PierSans-Bold.woff2') format('woff2'), url('Fonts/PierSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.vacenterparent {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.vacenter {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bgcover {
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.textwhite {
  color: #fff;
}