﻿@import "Fonts/fonts";

@red: #9e182d;
@lightgold: #fff4db;
@gold: #decfae;
@graytext: #969696;
//mixins
.padding(@padding: 50px) {
    padding: @padding;
}

.transition (@transition: 0.5s ease)
{
    -moz-transition: @transition;
    -o-transition: @transition;
    -webkit-transition: @transition;
    transition: @transition;
}

.transform (@trans)
{
    -moz-transform: @trans;
    -ms-transform: @trans;
    -o-transform: @trans;
    -webkit-transform: @trans;
    transform: @trans;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

//vertical centering
.vacenterparent
{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.vacenter
{
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.bgcover
{
    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.textwhite
{
    color:#fff;
}