/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 320px) and (max-width: 768px) {

    .row {
        border-bottom: 1px solid #e4cb99;
    }

    .timeline, .sticky {
        margin-left: 20px !important;
        display: none !important;
    }

    .timeline {
        height: 3200px !important;
    }

    .sticky {
        height: 150px !important;
    }

    .thumb-inicio {
        width: 350px !important;
    }

    .thumb-lamp {
        width: 250px !important;;
        left: -50px !important;;
        top: -100px !important;;
    }

    .thumb-col {
        position: absolute !important;
        width: 200px !important;
        top: 200px !important;
        right: 0px !important;
    }

    .thumb-fact {
        width: 100% !important;
    }

    .thumb-btn {
        position: absolute !important;;
        width: 200px !important;;
        z-index: 2 !important;;
        left: 0px !important;;
        top: -100px !important;;
    }

    .thumb-art {
        width: 100px !important;
    }

    .thumb-zivi {
        width: 100% !important;
    }

    .box-right, .box-left {
        margin-top: 25px !important;
        float: none !important;
        max-width: 100% !important;
    }

    .box-right h1, .box-left h1 {
        text-align: center !important;
    }

    .box-right p, .box-left p {
        text-align: center !important;
        max-width: 100% !important;
    }

    .paragr {
        margin-bottom: 10px !important;
    }

    .box-left-text p {
        padding: 10px 0 !important;
        width: 100% !important;
        text-align: center !important;
        float: none !important;
    }

    .box-center img {
        width: 100% !important;
    }

    .mundial {
        width: 50% !important;
        margin-right: 20px !important;
        float: left !important;
    }

    .investidores {
        margin: 0 0 30px 0 !important;
        width: 43% !important;
        float: right !important;
        display: block !important;
    }

    .investidores p {
        margin: 0 0 20px 0 !important;
        border: 1px solid !important;
        border-radius: 8px !important;
    }

}

body {
    background: #fef4d9 !important;
    max-width: 100% !important;
}

.bg-hist {
    background-color: #fef4d9;
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
}

.main {
    padding: 25px 10% 100px;
}

.timeline {
    position: absolute;
    border-radius: 5px;
    width: 10px;
    height: 2650px;
    background-color: #ffffff;
    margin-top: 160px;
    margin-bottom: 100px;
    margin-left: calc(50% - 10px);
}

.sticky {
    background-color: #9e182d;
    border-radius: 5px;
    width: 10px;
    margin-left: calc(50% - 10px);
    height: 220px;
    top: 150px; /* altura que vai parar antes do topo */
    position: sticky;
}

.box-left {
    max-width: 400px;
    float: right;
}

.box-right {
    max-width: 400px;
    float: left;
}

.box-center {
    text-align: center;
    margin: 0 auto 30px;
    max-width: 800px;
}

.box-left img {

}

.box-right img {

}

.box-left p {
    text-align: right;
    color: grey;
    padding: 0 10px 10px 0;
    max-width: 200px;
    font-size: 0.85rem;
}

.box-right p {
    text-align: left;
    color: grey;
    padding: 20px 0;
    max-width: 200px;
    font-size: 0.85rem;
}

.box-left-text p {
    text-align: right;
    color: grey;
    padding: 0 10px 10px 0;
    font-size: 0.85rem;
    width: 400px;
    float: right;
}

.box-left h1 {
    text-align: right;
    color: #9e182d;
    font-size: 42px;
    padding-right: 10px;
}

.box-right h1 {
    text-align: left;
    color: #9e182d;
    font-size: 42px;
}

.mundial {
    width: 150px;
    border: 1px solid #9e182d;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.mundial p, .investidores p {
    text-align: center;
    color :#9e182d;
    font-weight: bold;
    padding: 10px 0 !important;
}

.investidores p {
    margin: 20px 0;
}

.investidores {
    margin: 10px 0;
    display: block;
}

.investidores h2 {
    color :#9e182d;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.paragr {
    margin-bottom: 150px;
}

/* css especifico para cada imagem */

.thumb-inicio {
    margin-right: -50px;
    width: 400px;
}

.thumb-lamp {
    position: absolute;
    width: 300px;
    z-index: 2;
    left: -150px;
    top: 150px;
}

.thumb-col {
    position: absolute;
    width: 300px;
    z-index: 2;
    top: 150px;
}

.thumb-btn {
    position: absolute;
    width: 250px;
    z-index: 2;
    left: -100px;
    top: 150px;
}

.thumb-est {
    position: absolute;
    width: 150px;
    z-index: 2;
    top: 150px;
    right: -10px;
}

.thumb-art {
    position: absolute;
    width: 250px;
    z-index: 2;
    top: 50px;
    right: -10px;
}

.thumb-fact {
    width: 400px;
}

.thumb-zivi {
    width: 300px;
}