@media (min-width: 1681px) and (max-width: 1919px) {

    #home .box {
        zoom: 0.75;
    }
}

@media (min-width: 1441px) and (max-width: 1680px) {

    #home .box {
        zoom: 0.6;
    }
}

@media (min-width: 1361px) and (max-width: 1440px) {

    #home .box {
        zoom: 0.55;
    }
}

@media (min-width: 1281px) and (max-width: 1360px) {

    #home .box {
        zoom: 0.5;
    }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    #home .box {
        zoom: 0.45;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    #home .box {
        zoom: 0.45;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    #home .box {
        zoom: 0.45;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    #home .box {
        zoom: 0.45;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    #home .box {
        zoom: 0.3;
    }

}