﻿@font-face {
  font-family: 'Pier Sans';
  src: url('../Fonts/PierSans-BoldItalic.woff2') format('woff2'), url('../Fonts/PierSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('../Fonts/PierSans-Regular.woff2') format('woff2'), url('../Fonts/PierSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('../Fonts/PierSans-Italic.woff2') format('woff2'), url('../Fonts/PierSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('../Fonts/PierSans-Bold.woff2') format('woff2'), url('../Fonts/PierSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.vacenterparent {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.vacenter {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bgcover {
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.textwhite {
  color: #fff;
}
footer {
  display: none;
}
#home {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition-duration: 0.5s;
}
#home.fundo {
  background: #871e30;
}
#home .box {
  position: fixed;
  width: 100%;
  height: calc(100% - 10px);
  background: #871e30;
  left: 0;
  top: 0;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  transition-duration: 1s;
}
#home .box:before {
  display: none;
  content: '';
  width: 300px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fcf5dd;
  z-index: 4;
}
#home .box.inicio {
  width: 300px;
  height: 15px;
  left: calc(50% - 150px);
  top: calc(50% - 10px);
  border-radius: 10px;
}
#home .box.etapa {
  width: 100%;
  left: 0;
  height: 265px;
  top: calc(50% - 150px);
  border-radius: 200px;
}
#home .box.etapa:before {
  display: none !important;
}
#home .box.inicio:before {
  display: block;
}
#home .box .a-historia {
  position: absolute;
  left: calc(50% + 50px);
  transform: translate(-50%, -50%);
  top: calc(50% - 210px);
  width: 785px;
  height: 278px;
  transition-duration: 1s;
  z-index: 2;
}
#home .box .a-historia .mascara {
  background: url(../img/banner-a-historia.png);
  width: 785px;
  height: 187px;
  position: absolute;
  z-index: 3;
  top: 91px;
  background-position: -185px -91px;
  border-radius: 100px;
  left: 0;
  transition-duration: 0.5s;
}
#home .box .a-historia .titulo {
  position: absolute;
  color: #fcf5dd;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  top: 116px;
  left: 295px;
  width: 660px;
  transition-duration: 2s;
  z-index: 4;
}
#home .box .a-historia .titulo small {
  color: #fcf4db;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 18px;
  position: absolute;
  right: 20px;
  top: 23px;
}
#home .box .a-historia .titulo small span {
  background: #fcf4db;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 8px;
  position: relative;
  top: -3px;
}
#home .box .a-historia .imagem {
  width: 900px;
  height: 237px;
  overflow: hidden;
  left: -58px;
  position: relative;
  transition-duration: 0.5s;
}
#home .box .a-historia .imagem img {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
#home .box .que-molda {
  position: absolute;
  left: calc(50% + 12px);
  transform: translate(-50%, -50%);
  top: calc(50% + 40px);
  z-index: 3;
}
#home .box .que-molda .mascara {
  background: url(../img/banner-que-molda.png);
  width: 785px;
  height: 187px;
  position: absolute;
  z-index: 3;
  top: 0;
  background-position: bottom center;
  border-radius: 100px;
  left: 0;
  transition-duration: 0.5s;
}
#home .box .que-molda .titulo {
  position: absolute;
  color: #fcf5dd;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  top: 30px;
  right: 365px;
  width: 710px;
  transition-duration: 2s;
  z-index: 4;
}
#home .box .que-molda .titulo small {
  color: #fcf4db;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 18px;
  position: absolute;
  left: -70px;
  top: 23px;
}
#home .box .que-molda .titulo small span {
  background: #fcf4db;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 8px;
  position: relative;
  top: -3px;
}
#home .box .que-molda .imagem {
  opacity: 0;
}
#home .box .o-futuro {
  position: absolute;
  left: calc(50% + 20px);
  transform: translate(-50%, -50%);
  top: calc(50% + 242px);
  width: 785px;
  height: 187px;
  transition-duration: 1s;
  z-index: 2;
}
#home .box .o-futuro .mascara {
  background: url(../img/banner-o-futuro.png);
  width: 785px;
  height: 187px;
  position: absolute;
  z-index: 3;
  top: 0;
  background-position: top center;
  border-radius: 100px;
  left: 0;
  transition-duration: 0.5s;
}
#home .box .o-futuro .titulo {
  position: absolute;
  color: #fcf5dd;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  top: 30px;
  left: 330px;
  width: 540px;
  transition-duration: 2s;
  z-index: 4;
}
#home .box .o-futuro .titulo small {
  color: #fcf4db;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 18px;
  position: absolute;
  right: -80px;
  top: 23px;
}
#home .box .o-futuro .titulo small span {
  background: #fcf4db;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 8px;
  position: relative;
  top: -3px;
}
#home .box .o-futuro .imagem {
  width: 400px;
  height: 237px;
  overflow: hidden;
  left: 192px;
  position: relative;
}
#home .box .o-futuro .imagem img {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
#home .box .a-historia.inicio {
  left: calc(50% + 70px);
  transform: translate(-50%, -50%);
  top: calc(50% + 40px);
  opacity: 0;
}
#home .box .o-futuro.inicio {
  left: calc(50% + -40px);
  transform: translate(-50%, -50%);
  top: calc(50% + 40px);
  opacity: 0;
}
#home .box div .mascara {
  border: 0px;
}
#home .box div .mascara.borda {
  background: transparent;
  border: 2px solid #fcf5dd;
}
#home .hover-efeito {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
#home .hover-efeito .hover-historia {
  width: 100%;
  height: 230px;
  display: block;
  position: absolute;
  z-index: 4;
  top: 190px;
}
#home .hover-efeito .hover-molda {
  width: 100%;
  height: 190px;
  display: block;
  position: absolute;
  z-index: 4;
  top: 430px;
}
#home .hover-efeito .hover-futuro {
  width: 100%;
  height: 230px;
  display: block;
  position: absolute;
  z-index: 4;
  top: 636px;
}
#home .hover-abre {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 6;
}
#home .hover-abre .hover-historia {
  width: 710px;
  height: 170px;
  display: block;
  position: absolute;
  z-index: 4;
  top: 240px;
  left: calc(50% - 320px);
  cursor: pointer;
  transition-duration: 1.5s;
}
#home .hover-abre .hover-molda {
  width: 770px;
  height: 170px;
  display: block;
  position: absolute;
  z-index: 4;
  top: 440px;
  left: calc(50% - 490px);
  cursor: pointer;
  transition-duration: 1.5s;
}
#home .hover-abre .hover-futuro {
  width: 780px;
  height: 180px;
  display: block;
  position: absolute;
  z-index: 4;
  top: 641px;
  left: calc(50% - 380px);
  cursor: pointer;
  transition-duration: 1.5s;
}
#home .hover-abre .hover-historia:hover {
  width: 1020px;
}
#home .hover-abre .hover-molda:hover {
  width: 940px;
  left: calc(50% - 640px);
}
#home .hover-abre .hover-futuro:hover {
  width: 1000px;
}
#home .hover-abre .som {
  height: 21px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  cursor: pointer;
  z-index: 9;
  transition-duration: 1.5s;
  opacity: 0;
}
#home .hover-abre .som.off {
  background-image: url(../img/som-off.png);
}
#home .hover-abre .som.on {
  background-image: url(../img/som-on.png);
}
#home .hover-abre > div:hover .som {
  opacity: 1;
}
#home .hover-abre .hover-historia .som {
  right: 29px;
  top: 66px;
}
#home .hover-abre .hover-molda .som {
  left: 86px;
  top: 70px;
}
#home .hover-abre .hover-futuro .som {
  right: -37px;
  top: 78px;
}
#home .box .a-historia.efeito .titulo {
  left: 385px;
}
#home .box .que-molda.efeito .titulo {
  right: 315px;
}
#home .box .o-futuro.efeito .titulo {
  left: 425px;
}
#home .box .a-historia.efeito .mascara {
  left: 20px;
  background-position: -204px -91px;
}
#home .box .que-molda.efeito .mascara {
  left: 20px;
  background-position: -135px 0px;
}
#home .box .o-futuro.efeito .mascara {
  left: 20px;
  background-position: -105px 0px;
}
#home .detalhes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition-duration: 0.3s;
}
#home .detalhes img:nth-child(1) {
  position: absolute;
  left: calc(50% + 450px);
  top: 280px;
  z-index: 2;
  transition-duration: 2s;
}
#home .detalhes img:nth-child(2) {
  position: absolute;
  left: calc(50% - 270px);
  top: 622px;
  z-index: 2;
  transition-duration: 2s;
}
#home .detalhes img:nth-child(1).efeito {
  top: 250px;
}
#home .detalhes img:nth-child(2).efeito {
  top: 572px;
}
#home .fundos {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#home .fundos .a-historia {
  background: url(../img/fundo-a-historia.jpg);
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: none;
  transition-duration: 0.5s;
  border-radius: 0px;
}
#home .fundos .que-molda {
  background: url(../img/fundo-que-molda.jpg);
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: none;
  transition-duration: 0.5s;
  border-radius: 0px;
}
#home .fundos .o-futuro {
  background: url(../img/fundo-o-futuro.jpg);
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: none;
  transition-duration: 0.5s;
  border-radius: 0px;
}
#home .fundos div video {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-duration: 0.5s;
  object-fit: cover;
}
#home .social {
  left: calc(50% - 50px);
  position: absolute;
  bottom: -100px;
  transition-duration: 0.5s;
  opacity: 0;
  z-index: 7;
}
#home .social a {
  opacity: 1;
  transition-duration: 0.5s;
  margin: 0 5px;
}
#home .social a:hover {
  opacity: 0.7;
}
#home .pimenta {
  position: absolute;
  left: 55px;
  bottom: 30px;
  transform: scale(1);
  transition-duration: 0.2s;
  z-index: 7;
  opacity: 0;
}
#home .pimenta:hover {
  transform: scale(1.1);
}
#home .globo {
  background: url(../img/globo.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  padding: 5px;
  width: 40px;
  border: 1px solid #fff4db;
  height: 40px;
  border-radius: 40px;
  transition-duration: 0.5s;
  position: absolute;
  right: 40px;
  bottom: 25px;
  z-index: 7;
  opacity: 0;
}
#home .globo span {
  color: #fcf5dd;
  font-weight: lighter;
  font-size: 11px;
  letter-spacing: 1px;
  display: block;
  overflow: hidden;
  width: 0px;
  margin-left: 15px;
  margin-top: 12px;
  white-space: nowrap;
  transition-duration: 0.5s;
}
#home .globo:hover {
  width: 278px;
}
#home .globo:hover span {
  width: 220px;
}
#home .info {
  width: 340px;
  position: absolute;
  left: calc(50% - 167px);
  bottom: 3px;
  transition-duration: 0.5s;
  opacity: 0;
}
#home .info span {
  color: #fcf5dd;
  font-size: 12px;
  letter-spacing: 1px;
  position: relative;
  top: -12px;
}
#home .info img {
  margin: 0px 10px;
}
#historia {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  transition-duration: 1s;
  overflow-y: scroll;
}
#historia.show {
  top: 0;
}
#historia .conteudo {
  background: url(../img/page-historia.jpg);
  width: 100%;
  height: 5130px;
  background-position: top center;
  background-color: #fff6e0;
}