﻿@import "../main";



hhtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    font-family: 'Pier Sans';
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading2, .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(255, 255, 255, 0.82);
    display: none
}

.loading {
    width: 300px;
    height: 15px;
    left: calc(50% - 150px);
    top: calc(50% - 10px);
    background: #871e30;
    display: block;

    span:nth-child(1) {
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 8px;
        background: #fcf5dd;
        left: 0;
        transition-duration: 1s
    }

    span:nth-child(2) {
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 8px;
        background: #fcf5dd;
        right: 0;
    }
}

.clear {
    clear: both;
}

.content {
    width: 1200px;
    margin: auto;
    position: relative;
}

html {
    background: #fff
}

body {
    overflow-x: hidden;
    max-width: 1920px;
    margin: auto;
    background: #fff;
}

html.fundo, html.fundo body {
    background: #871e30
}


/*header {
    position: fixed;
    z-index: 8;
    top: 0;
    width: 100%;
    left: 0;

    .menu {
        width:100%;
        float:left;

        .logo {
            float: left;
            width: 207px;
            height: 101px;
            position: relative;
            top: 38px;
            transition-duration: 0.5s;
            opacity: 0;

            img {
            }
        }

        .left {
            float: left;
            width: calc(50% - 134px);
            text-align: right;
            padding-right: 30px;
            transition-duration: 0.5s;
            opacity: 0;
            position: relative;
            right: -130px;
        }

        .right {
            float: left;
            width: calc(50% - 134px);
            text-align: left;
            padding-left: 30px;
            transition-duration: 0.5s;
            opacity: 0;
            position: relative;
            left: -130px;
        }

        .left a, .right a {
            color: #fcf5dd;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: normal;
            padding: 10px;
            display: inline-block;
            margin-top: 71px;
        }

        .idiomas {
            position: absolute;
            right: 0;
            top: 75px;
            transition-duration: 0.5s;
            opacity: 0;

            a {
                color: #fcf5dd;
                font-size: 10px;
                letter-spacing: 1px;
                border: 1px solid transparent;
                width: 31px;
                height: 11px;
                display: block;
                float: left;
                text-align: center;
                padding: 10px 0;
                border-radius: 100%;
                margin-left: 4px;

                &.active {
                    border: 1px solid #fcf5dd
                }
            }
        }
    }
}*/

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    display: flex;
    z-index: 5;
    width: 100%;
    justify-content: center;
    align-items: center;

    &.hidden {
        opacity: 0;
    }

    .left, .right {
        position: relative;
        width: 100%;
        width: 370px;

        a {
            color: #fcf5dd;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: normal;
            padding: 10px 15px;
        }

        .idiomas {
            position: absolute;
            right: -140px;
            top: -5px;

            a {
                color: #fcf5dd;
                font-size: 10px;
                letter-spacing: 1px;
                border: 1px solid transparent;
                width: 31px;
                height: 31px;
                line-height: 31px;
                display: inline-block;
                float: left;
                text-align: center;
                border-radius: 100%;
                margin-left: 4px;
                padding: 0;

                &.active {
                    border: 1px solid #fcf5dd
                }
            }
        }

        .socialnets {
            display: none;
        }
    }

    .left {
        text-align: right;
    }

    .logo {
        overflow: hidden;

        svg {
            width: 200px;
        }
    }

    &.collapsed {
        width: 80px;
        left: ~"calc(50% - 40px)";

        .left, .right {
            opacity: 0;
            .transform(scaleX(0));
            .transition;
            width: auto;
            z-index: 5;
            height: 66px;
            position: relative;
            padding-top: 24px;
            background-color: @red;

            .socialnets {
                display: inline-block;
                float: left;
                margin-top: -5px;

                a {
                    background: #fff4db;
                    padding: 0;
                    display: inline-block;
                    color: @red;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    margin-right: 12px;
                    text-align: center;
                    line-height: 28px;
                    font-size: 18px;
                }
            }

            a {
                opacity: 0;
            }

            .idiomas {
                display: inline-block;
                right: unset;
                position: relative;
                float: right;
            }
        }

        .left {
            transform-origin: right;
            padding-right: 35px;
            padding-left: 33px;
            margin-right: -33px;
            border-bottom-left-radius: 33px;
            border-top-left-radius: 33px;
        }

        .right {
            transform-origin: left;
            padding-left: 35px;
            padding-right: 33px;
            margin-left: -33px;
            border-bottom-right-radius: 33px;
            border-top-right-radius: 33px;
        }

        .logo {
            border-radius: 50%;
            background: @red;
            width: 66px;
            height: 66px;
            z-index: 7;
            position: relative;
            .transition;

            svg {
                width: 250px;
                margin-top: 23px;
                margin-left: -90px;


                path:not(.bigorna), rect {
                    display: none;
                }
            }
        }

        &:hover {
            left: 0;
            width: 100%;

            .left, .right {
                opacity: 1;
                .transform(none);
                width: auto;

                a {
                    opacity: 1;
                }
            }

            .logo {
                margin: 0;
                width: auto;
                height: auto;
                border-radius: 0;


                svg {
                    height: 66px;
                    width: auto;
                    margin: 0;

                    path:not(.text), rect {
                        display: none;
                    }

                    path.text {
                        display: block;
                    }
                }
            }
        }
    }
}

.newsletter {
    background: url(../img/ico_newsletter.png) #fcf5dd;
    position: fixed;
    width: 320px;
    height: 90px;
    z-index: 8;
    top: calc(50% - 45px);
    right: -230px;
    background-repeat: no-repeat;
    padding-left: 100px;
    border-radius: 45px 0px 0 45px;
    background-position: 32px;
    transition-duration: 0.5s;
}

.newsletter:hover {
    right: 0px !important;
}

.newsletter input {
    background: transparent;
    border: 2px solid #871e30;
    padding: 10px 20px;
    border-radius: 30px;
    float: left;
    color: #871e30;
    width: 260px;
    margin-top: 27px;
    outline: none;
}

.newsletter input::-webkit-input-placeholder {
    color: #871e30
}

.newsletter .btn {
    position: absolute;
    right: 19px;
    background: #871f30;
    color: #fcf5dd;
    top: 30px;
    height: 31px;
    width: 31px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
    border: none;
}

.newsletter .btn:hover {
    color: #871f30;
    background: #fcf5dd;
}

.newsletter.invert {
    background: url(../img/ico_newsletter2.png) #871e30;
    background-position: 32px;
    background-repeat: no-repeat;
}

.newsletter.invert input {
    border: 2px solid #fcf5dd;
    color: #fcf5dd;
}

.newsletter.invert input::-webkit-input-placeholder {
    color: #fcf5dd
}
//mixins
.padding(@padding: 50px) {
    padding: @padding;
}
//height
.fullheight {
    height: 100%;
}

.heightminus80 {
    height: ~"calc(100% - 80px)";
}
//paddings
.padding80 {
    .padding(80px);
}

.padding40 {
    .padding(40px);
}

.p-15vh {
    padding: 15vh 0 !important;
}
//vertical centering
.vacenterparent {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.vacenter {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
//others
a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

::selection {
    background: rgba(172, 139, 68, 0.4); /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(172, 139, 68, 0.4); /* Gecko Browsers */
}

input:focus, textarea:focus {
    outline: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 600;
}

.padding0 {
    padding: 0 !important;
}

.paddingbottom0 {
    padding-bottom: 0 !important;
}


.padding0right10 {
    padding: 0 10% 0 0 !important;
}

.margintop15 {
    margin-top: 15px !important;
}

.margintop30 {
    margin-top: 30px !important;
}

.margintop-30 {
    margin-top: -30px !important;
}

.marginbottom15 {
    margin-bottom: 15px !important;
}

.marginbottom30 {
    margin-bottom: 30px !important;
}

.btnmargin {
    margin-right: 15px;
}

.bgattached {
    background-attachment: fixed;
}

.displayinlineblock {
    display: inline-block;
    float: none !important;
}

.marginleft15px {
    margin-left: 15px;
}

.marginleft40px {
    margin-left: 40px;
}

.positionabsolute {
    position: absolute !important;
}

.height100 {
    height: 100%;
}

.height100vh {
    height: 100vh;
}

.overlay {
    background: rgba(60, 60, 87,0.4);
    height: 100%;
    width: 100%;
}

.textwhite {
    color: #fff !important;
}

.fontregular {
    font-weight: 100;
}

.slick-dots {
    position: relative;
}

.slick-track, .slick-list {
    height: 100% !important;
}

.slick-list {
    width: 100%;
}

.letterspacing2 {
    letter-spacing: 2px;
}

.overflowvisible {
    overflow: visible !important;
}

.fullw {
    width: 100%;
    padding: 0;
    float: left;
}

.bgw {
    background: #fff;
}

#loadingdiv {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: block;
    z-index: 30;
    display: none;
}

#svgclip {
}

.btn {
    color: @gold;
    padding: 3px 35px 5px 35px !important;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    /*cursor: pointer;*/
    position: relative;
    .transition();
    background: transparent;
    font-weight: 600;
    min-width: 200px;
    border: 1px solid @gold;
    position: relative;

    &:before, &:after {
        content: '';
        height: 8px;
        width: 8px;
        background: @red;
        display: block;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        top: ~"calc(50% - 4px)";
        .transition(0.5s ease);
        opacity: 0;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }

    &:focus, &:hover {
        outline: none;
        box-shadow: none;
        background: @red;
        color: #fff;

        &:before {
            left: -30px;
            opacity: 1;
        }

        &:after {
            right: -30px;
            opacity: 1;
        }
    }
}

.smalltitle {
    font-size: 0.9rem;
    color: #aab2b8;
    margin: 0;
    font-weight: 500;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    .fullw;
}


#logocerbo {
    .transition();
    height: 50px;
    width: 50px;
    border: 1px solid #000;
    text-align: center;
    position: relative;
    opacity: 0.8;


    .logocerboh {
        height: 38px;
        width: 38px;
        margin-top: 5px;

        path {
            fill: #000 !important;
        }
    }

    & .hiddencerbo {
        height: 18px;
        width: 50px;
        position: absolute;
        bottom: -16px;
        left: -1px;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;

        svg {
            height: 18px;
            width: 50px;

            path {
                fill: #000;
                .transform(translateY(-120px));
                .transition();
                opacity: 0;

                &:nth-child(2) {
                    -moz-transition-delay: 0.2s;
                    -o-transition-delay: 0.2s;
                    -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;
                }

                &:nth-child(3) {
                    -moz-transition-delay: 0.3s;
                    -o-transition-delay: 0.3s;
                    -webkit-transition-delay: 0.3s;
                    transition-delay: 0.3s;
                }

                &:nth-child(4) {
                    -moz-transition-delay: 0.4s;
                    -o-transition-delay: 0.4s;
                    -webkit-transition-delay: 0.4s;
                    transition-delay: 0.4s;
                }

                &:nth-child(5) {
                    -moz-transition-delay: 0.1s;
                    -o-transition-delay: 0.1s;
                    -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
                }
            }
        }
    }

    &:hover {
        & .hiddencerbo {
            svg path {
                .transform(translateY(0));
                opacity: 1;
            }
        }
    }
}

input, textarea {
    border-radius: 5px;
    border: 0;
    padding: 20px 18px;
    font-size: 0.9rem;
    color: #c8c8c8;
    font-weight: 500;
    margin-bottom: 3px;
    .transition(0.2s ease);

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #c8c8c8;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #c8c8c8;
        opacity: 1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #c8c8c8;
    }

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
        -webkit-text-fill-color: #c8c8c8 !important;
    }
    /*&.haserror
    {
        box-shadow: 0 0 0 2px #ae646e;
        border-color: #ae646e;
        color: #ae646e !important;
    }*/
}
/*header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    padding: 10px 20px 0 20px;
    z-index: 5;
    color: #000;
    .logo-h {
        position: absolute;
        left: 45px;
        top: 15px;

        svg {
            width: 220px;

            .a {
                fill: #fff;
            }
        }
    }

    .hlinks {
        float: right;

        a {
            padding: 5px 10px;
            margin: 0 20px 0 0;
            color: #fff;
            font-size: 0.9rem;

            &.btn {
                font-weight: 500;
            }
        }
        .socialnets {
            padding: 0 15px;

            a {
                margin: 0 15px 0 0px;
                padding: 10px 5px;
            }
        }
    }

    .burger {
        cursor: pointer;
        padding: 12px 0;
        margin-top: -6px;
        float: right;
        margin-left: 10px;

        span {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 2px;
            background: #fff;
            transition: all .2s ease-in-out;

            &:before, &:after {
                position: absolute;
                background: #fff;
                content: '';
                width: 30px;
                height: 2px;
                transition: all .2s ease-in-out;
            }

            &:before {
                top: -8px;
            }

            &:after {
                top: 8px;
            }
        }

        &.active {
            span {
                background: transparent;

                &:before {
                    transform: rotate(45deg) translate(5px, 6px);
                }

                &:after {
                    transform: rotate(-45deg) translate(5px, -6px);
                }
            }
        }
    }
}*/
a {
    color: #000;
}

footer {
    float: left;
    .fullw;
    padding: 30px;
    position: relative;
    /*color: #f3f3f3;*/
    position: relative;
    min-height: 150px;

    .fcont {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;

        .fcont-inner {
            flex: 3;
            display: flex;
            justify-content: center;


            &:nth-child(2) {
                flex: 1;
                max-width: 200px;
                min-width: 180px;
            }

            &:first-child {
                justify-content: flex-end;
            }

            &:last-child {
                justify-content: flex-start;
            }
        }

        .logo {
            align-self: center;

            svg {
                width: 170px;

                path {
                    fill: @red;
                }
            }
        }

        span {
            color: @red;
            text-align: right;
        }

        span, a {
            margin: 0 15px;
        }

        a {
            &.btn {
                border-color: @red;
                color: @red;
                font-size: 16px;
                padding: 6px 30px !important;
                min-width: unset;

                .fa {
                    margin-left: 10px;
                }

                &:hover {
                    color: #fff;

                    &:before, &:after {
                        display: none;
                    }
                }
            }

            &.socialbtn {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: @red;
                color: #fff;
                line-height: 40px;
                text-align: center;
                min-width: unset;
                font-size: 20px;
            }
        }
    }


    .pimenta {
        position: absolute;
        left: 55px;
        bottom: 30px;
        transform: scale(1);
        transition-duration: 0.2s;
        z-index: 7;
        opacity: 1;

        &:hover {
            transform: scale(1.1);
        }

        svg {
            width: 35px;
        }
    }

    .globo {
        padding: 0;
        width: 40px;
        border: 1px solid @red;
        height: 40px;
        border-radius: 40px;
        transition-duration: 0.5s;
        position: absolute;
        right: 40px;
        bottom: 25px;
        z-index: 7;
        opacity: 1;

        svg {
            width: 38px;
            float: right;
        }

        span {
            color: @red;
            font-weight: lighter;
            font-size: 11px;
            letter-spacing: 1px;
            display: block;
            overflow: hidden;
            width: 0px;
            margin-left: 15px;
            margin-top: 12px;
            white-space: nowrap;
            transition-duration: 0.5s;
        }

        &:hover {
            width: 278px;

            span {
                width: 220px;
            }
        }
    }

    .info {
        width: 340px;
        position: absolute;
        left: calc(50% - 167px);
        bottom: 3px;
        transition-duration: 0.5s;
        opacity: 1;
        text-align: center;

        span {
            color: @red;
            font-size: 12px;
            letter-spacing: 1px;
            position: relative;
            top: -12px;
        }

        svg {
            margin: -12px 10px 10px 10px;
            width: 20px;

            path {
                fill: @red;
            }
        }
    }
}

.slick-prev, .slick-next {
    height: 40px;
}

.slick-prev:before, .slick-next:before {
    font-family: 'FontAwesome';
    font-size: 50px;
}

.slick-prev:before {
    content: '\f104';
}

.slick-next:before {
    content: '\f105';
}


.grad-v {
    background: linear-gradient(to top, #aed465, #34c38b);
}

.grad-h {
    background: linear-gradient(to right, #b8e06d 50%, #36c58d);
}

.mobilemenubtn {
    display: none;
    width: 60px;
    height: 60px;
    line-height: 55px;
    background-color: @red;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    padding-left: 5px;
    top: 15px;
    border-radius: 50%;
    text-align: center;
    z-index: 5;
    cursor: pointer;

    svg {
        width: 50px;

        path {
            fill: @lightgold;
        }
    }
}

.mobilemenu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    background: @lightgold;
    .transition;

    .closebtn {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
        font-weight: bold;
        color: @red;
    }

    .d-flex {
        align-items: center;
        justify-content: space-between;
        height: ~"calc(100vh - 80px)";
        padding-top: 3vh;

        .logo {
            margin-bottom: 10px;

            svg {
                width: 138px;

                path {
                    fill: @red;
                }
            }
        }

        a {
            color: @red;
            padding: 5px 10px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .idiomas {
            text-align: center;
            width: 100%;

            a {
                color: @red;
                font-size: 12px;
                letter-spacing: 1px;
                border: 1px solid transparent;
                width: 31px;
                height: 31px;
                line-height: 31px;
                display: inline-block;
                text-align: center;
                border-radius: 100%;
                margin: 15px;
                padding: 0;

                &.active {
                    border: 1px solid @red;
                }
            }
        }

        .mobnewsletter {
            position: relative;
            width: 100%;
            max-width: 300px;
            border: 1px solid @red;
            border-radius: 20px;
            padding: 5px 25px 5px 5px;
            height: 40px;

            input {
                background: transparent;
                width: 100%;
                line-height: 28px;
                border: none;
                color: @red;
                font-size: 12px;
                padding: 0;
                padding-left: 10px;

                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: @red;
                    opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: @red;
                }

                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: @red;
                }
            }

            .fa-envelope-o {
                position: absolute;
                font-size: 20px;
                color: @red;
                right: 10px;
                top: 9px;
            }
        }
    }

    .m-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 15px 15px;
        text-align: center;

        a.socialbtn {
            height: 30px;
            width: 30px;
            margin: 0 10px;
            border-radius: 50%;
            display: inline-block;
            background: @red;
            color: #fff;
            line-height: 30px;
            text-align: center;
            min-width: unset;
            font-size: 18px;
        }



        svg {
            height: 40px;
        }

        .pimenta {
            float: left;
        }

        .globo {
            float: right;
        }
    }

    &.open {
        opacity: 1;
        z-index: 6;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1240px;
    }
}

@media (max-width:1150px) {
    /*header .hlinks {
        display: none;
    }*/
}


@media (max-width:1024px) {
    header {
        display: none;
        //esconder header e mostrar botao do menu mobile
    }

    .mobilemenubtn {
        display: block;
    }

    .nopadmob {
        padding: 0 !important;
    }

    .nopadsidemob {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .nomsidemob {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    footer {
        padding: 20px;

        .fcont {
            padding-bottom: 60px;

            .fcont-inner {
                &:nth-child(2) {
                    display: none;
                }
            }

            span, .logo {
                display: none;
            }

            a {
                display: none;

                &.socialbtn {
                    display: block;
                }
            }
        }

        .pimenta, .globo {
            display: none;
        }
    }
}
