@media (min-width: 320px) and (max-width: 768px) {


    .card-content {
        height: 900px !important;
        background-size: cover !important;
    }

    /* card and button top */

    .card-content > div > .description > p {
        display: block !important;
        text-align: center !important;
        width: 100% !important;
        float: none !important;
    }

    .card-content > div > .description {
        margin-right: 0 !important;
    }

    .card-content > div > .description > .title-logo {
        padding: 100px 0 0 !important;
        text-align: center !important;
    }

    .card-content > div > .main-img {
        padding: 20px 0 0 !important;
        display: block !important;
        margin: 0 auto !important;
        text-align: center !important;
    }

    .buttons {
        left: 0 !important;
        width: 100% !important;
        text-align: center !important;
        bottom: 10px !important;
    }

    /* card and button custom */

    .card-content > div > .description-inverse > p {
        display: block !important;
        text-align: center !important;
        width: 100% !important;
        float: none !important;
    }

    .card-content > div > .description-inverse {
        margin-right: 0 !important;
        position: absolute !important;
        bottom: 500px !important;
        width: 100% !important;
        padding: 10px 20px !important;
        margin-left: -10px !important;
    }

    .card-content > div > .description-inverse > .title-logo {
        padding: 100px 0 0 !important;
        text-align: center !important;
    }

    .card-content > div > .main-img-inverse {
        padding: 20px 0 0 !important;
        display: block !important;
        margin: 0 auto !important;
        text-align: center !important;
        float: none !important;
        margin-top: 500px !important;
        position: absolute !important;
        width: 100% !important;
    }

    .buttons-invert {
        left: 0 !important;
        width: 100% !important;
        text-align: center !important;
    }

}



/* general elements */

body {
    background: #000000 !important;
    max-width: 100% !important;
}

.row {
    margin: 0 !important;
}

/* buttons */

.buttons {
    position: absolute;
    z-index: 5;
    bottom: -15px;
    left: -140px;
}

.buttons > .catalog-button > .btn-catalog {
    background: transparent;
    border: none;
    cursor: pointer;
}

.buttons > .catalog-button > .btn-catalog img {
    width: 250px;
}

.buttons > .action-button {
    bottom: -5px;
    text-align: center;
}

.buttons > .action-button > button {
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.buttons > .action-button-custom {
    bottom: 5px;
    left: -90px;
}

.buttons > .action-button-custom > button {
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.buttons > .arrow-button {
    cursor: pointer;
    text-align: center;
}

.buttons > .arrow-button-custom {
    cursor: pointer;
    text-align: center;
}

.buttons-invert {
    position: absolute;
    z-index: 10;
    bottom: -15px;
    left: -80px;
}

.buttons-invert > .catalog-button {
    bottom: 25px;
}

.buttons-invert > .catalog-button > .btn-catalog {
    background: transparent;
    border: none;
    cursor: pointer;
}

.buttons-invert > .catalog-button > .btn-catalog img {
    width: 250px;
}

.buttons-invert > .action-button {
    bottom: -5px;
    text-align: center;
}

.buttons-invert > .action-button > button {
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.buttons-invert > .action-button-custom {
    bottom: 5px;
    left: -90px;
}

.buttons-invert > .action-button-custom > button {
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.buttons-invert > .arrow-button {
    cursor: pointer;
    text-align: center;
}

.buttons-invert > .arrow-button-custom > i, .buttons > .arrow-button > i {
    background: black;
    border-radius: 50px;
    padding: 10px;
    margin: 5px 0 0 0;
    background-position-x: 1000px !important;
    background-position-y: 200px !important;
}

.buttons-invert > .arrow-button-custom {
    cursor: pointer;
    text-align: center;
}

/* top card */

.card-content {
    height: 435px;
}

.card-content > .card-bg {
    width: 100%;
}

.card-content > div > .description {
    z-index: 5;
    margin-right: 40px;
}

.card-content > div > .description > p {
    display: flex;
    text-align: right;
    font-size: 0.75rem;
    line-height: 1.4rem;
}

.card-content > div > .description > .title-logo {
    padding: 100px 0 0 10px;
    text-align: right;
}

.card-content > div > .description > .title-logo > img {
    height: 80px;
}

.card-content > div > .description > p {
    display: flex;
    text-align: right;
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 75%;
    float: right;
}

.card-content > div > .main-img {
    padding: 100px 50px 0 0;
    display: flex;
}

.card-content > div > .main-img > img {
    z-index: 10;
    width: auto;
    max-height: 250px;
}

/* custom card  */

.card-content > div > .description-inverse {
    z-index: 100;
    margin-left: 10px;
}

.card-content > div > .description-inverse > p {
    display: flex;
    text-align: left;
    font-size: 0.75rem;
    line-height: 1.4rem;
}

.card-content > div > .description-inverse > .title-logo {
    padding: 100px 0 10px 0;
    text-align: left;
}

.card-content > div > .description-inverse > .title-logo > img {
    height: 80px;
}

.card-content > div > .description-inverse > p {
    display: flex;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 75%;
    float: left;
}

.card-content > div > .main-img-inverse {
    padding: 100px 0 0 0px;
    display: flex;
    float: right;
}

.card-content > div > .main-img-inverse > img {
    z-index: 100;
    width: auto;
    max-height: 250px;
}

/* box more info */

.box-more-info {
    width: 100%;
    height: 500px;
    display: block;
}


/* custom header invertido */

header {
    z-index: 999;
}

header.collapsed .logo {
    background: #fef4d9 !important;
}

header.collapsed .logo svg path {
    fill: #9e182d;
}

header .left a, header .right a {
    color: #9e182d;
    background-color: #fef4d9;
}

header.collapsed .left, header.collapsed .right {
    background-color: #fef4d9;
}

/* custom footer invertido */

footer {
    background-color: #9e182d;
}

footer .fcont span, footer .fcont, footer .globo span,
footer .pimenta, footer .info span {
    color: #fef4d9;
}

footer .fcont a.socialbtn, header .left .idiomas a, header .right .idiomas a {
    color: #9e182d
}

footer .fcont a.socialbtn {
    background: #fef4d9;
}

footer .fcont a.btn {
    border-color: #fef4d9;
    color: #fef4d9;
}

footer .globo {
    border: 1px solid #fef4d9;
}

footer .info svg path, footer .pimenta svg path,
footer .globo svg path, footer .fcont .logo svg path {
    fill: #fef4d9;
}