﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans/opensans-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans/opensans-bold-webfont.woff') format('woff');
}

.radio-inline {
    height: 60px;
    line-height: 80px;
    padding-right: 5px;
}

    .radio-inline input {
        position: relative !important;
        margin-right: 5px;
    }

.checkbox-inline {
    height: 60px;
    line-height: 80px;
}

    .checkbox-inline input {
        position: relative !important;
        margin-right: 5px;
    }
