﻿@font-face {
    font-family: 'Pier Sans';
    src: url('PierSans-BoldItalic.woff2') format('woff2'), url('PierSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('PierSans-Regular.woff2') format('woff2'), url('PierSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('PierSans-Italic.woff2') format('woff2'), url('PierSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('PierSans-Bold.woff2') format('woff2'), url('PierSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
