﻿@font-face {
  font-family: 'Pier Sans';
  src: url('../Fonts/PierSans-BoldItalic.woff2') format('woff2'), url('../Fonts/PierSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('../Fonts/PierSans-Regular.woff2') format('woff2'), url('../Fonts/PierSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('../Fonts/PierSans-Italic.woff2') format('woff2'), url('../Fonts/PierSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Pier Sans';
  src: url('../Fonts/PierSans-Bold.woff2') format('woff2'), url('../Fonts/PierSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.vacenterparent {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.vacenter {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bgcover {
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.textwhite {
  color: #fff;
}
body {
  background-color: transparent !important;
}
.smalltext {
  color: #969696;
  max-width: 480px;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 20px;
}
.smalltext.textmarginleft {
  margin-left: 15%;
}
.smalltext.textmarginleft.smalmg {
  margin-left: 7vw;
}
.smalltext.flexitem {
  max-width: unset;
  padding-right: 6vw;
  margin: 0;
}
.objmarginright {
  margin-right: 20%;
}
.textimg {
  width: 100%;
}
.textimg.aboveimg {
  z-index: 1;
}
.textimg.mw290 {
  max-width: 290px;
  margin-bottom: -280px;
}
.textimg.mw659 {
  max-width: 659px;
  margin-bottom: -280px;
}
.textimg.mw1512 {
  max-width: 1512px;
  margin: 100px 0 -5vw;
}
.textimg.mw1021 {
  max-width: 1021px;
  margin: 100px 0 40px;
}
.bigdots {
  position: absolute;
  top: 0;
  right: -20%;
  width: 100%;
  z-index: -1;
}
.moveelem {
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.smalldots {
  position: absolute;
  top: -1.5vw;
  left: -12%;
  width: 35vw;
  max-width: 650px;
  z-index: -1;
}
.smalldots img {
  width: 100%;
}
.titlebox {
  text-align: center;
  float: left;
  margin-left: -7.5vw;
  position: relative;
  padding-bottom: 20px;
}
.titlebox span {
  font-size: 45px;
  color: #9e182d;
  z-index: -1;
  margin-bottom: 15px;
}
.titlebox span .cornericon {
  position: absolute;
  top: 60px;
  right: 0;
  height: 35px;
}
.titlebox span.titlemleft {
  margin-left: 35px;
}
.titlebox span.titlemleftneg {
  margin-left: -15px;
}
.titlebox span.fat {
  font-weight: bold;
}
.titlebox span.big {
  font-size: 65px;
  font-weight: 800;
}
#modeloouter {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  padding-left: 5vw;
  margin: 0 0 -300px 0;
}
#modeloouter .titlebox {
  float: none;
  padding: 0 0 0 60px;
  position: absolute;
  /*right: 25%;*/
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 140px);
  z-index: 1;
}
#modeloouter .titlebox .thin {
  font-size: 46px;
  margin-right: 240px;
  font-weight: 200;
}
#modeloouter .titlebox .big {
  font-size: 82px;
}
#modeloouter .modelimg {
  padding-left: 400px;
  position: relative;
  display: inline-block;
}
#modeloouter .modelimg img {
  max-width: 290px;
  width: 20vw;
  min-width: 150px;
  height: auto;
}
#modeloouter .modelimg .braco {
  position: absolute;
  right: 0;
  height: auto;
  z-index: 2;
}
#suwouter {
  width: 100%;
  float: left;
  margin: 120px 0 -100px 0;
}
#suwouter .titlebox {
  margin: 0 auto;
  display: inline-block;
  float: right;
  text-align: left;
  padding-top: 40px;
}
#suwouter .titlebox .thin {
  margin-left: -60px;
}
#suwouter .titlebox span.fat {
  float: right;
  margin-left: -20px;
  margin-bottom: 0;
}
#suwouter .titlebox span.big {
  margin-right: -120px;
  float: right;
  font-size: 72px;
}
#suwouter .imagembotoes {
  float: right;
  margin: 60px 30px 0 0;
}
#suwouter .suwimg {
  float: right;
  display: inline-block;
}
#suwouter .suwimg img {
  max-width: 805px;
  width: 45vw;
  min-width: 350px;
  height: auto;
}
#suwouter .suwimg .etiqueta {
  position: absolute;
  right: 0;
  height: auto;
  z-index: 2;
}
#constrdiv .textimg {
  width: 55%;
  min-width: 380px;
}
.iconswrap {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
}
.iconswrap .iconitem {
  text-align: center;
  max-width: 300px;
  align-self: flex-end;
}
.iconswrap .iconitem .smalltext {
  font-size: 0.9rem;
}
.iconswrap .iconitem.btnitem {
  background: #9e182d;
  position: relative;
  border-radius: 25px;
  align-self: flex-end;
  cursor: pointer;
  padding: 20px;
}
.iconswrap .iconitem.btnitem img {
  width: calc(100% + 100px);
  margin: -85px auto 15px -50px;
}
.iconswrap .iconitem.btnitem .smalltext,
.iconswrap .iconitem.btnitem span {
  color: #fff;
}
.iconswrap .iconitem.btnitem span {
  text-align: center;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
}
.iconswrap .iconitem.btnitem:before,
.iconswrap .iconitem.btnitem:after {
  content: '';
  height: 8px;
  width: 8px;
  background: #9e182d;
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: calc(50% - 4px);
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}
.iconswrap .iconitem.btnitem:before {
  left: -30px;
  opacity: 1;
}
.iconswrap .iconitem.btnitem:after {
  right: -30px;
  opacity: 1;
}
.iconswrap .iconitem.card {
  position: relative;
  border-radius: 25px;
  align-self: flex-end;
  padding: 20px;
  border: 1px solid #decfae;
  max-width: 260px;
  cursor: pointer;
}
.iconswrap .iconitem.card span {
  color: #decfae;
  text-align: center;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
}
.iconswrap .iconitem.card.active {
  background: #fff4db;
  border: none;
}
.iconswrap .iconitem.card.active span {
  color: #9e182d;
}
.container {
  margin-top: 150px;
  margin-bottom: 150px;
}
.hiddendets {
  background: #9e182d;
  position: relative;
  border-radius: 30px;
  width: 100%;
  margin-top: 0;
  float: left;
  opacity: 0;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.hiddendets .closebtn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: -15px;
  background: #9e182d;
  color: #fff4db;
  z-index: 2;
  right: -20vw;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}
.hiddendets .hiddeninner {
  padding-top: 0;
  color: #fff4db;
  opacity: 0;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  max-height: 0;
  overflow: hidden;
  position: relative;
}
.hiddendets .hiddeninner .smalltext,
.hiddendets .hiddeninner p {
  color: #fff4db;
  font-size: 1rem;
  line-height: 1.4 !important;
}
.hiddendets .hiddeninner .smalldots {
  left: 0 !important;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right 30%;
  top: 0;
  background-image: url(Images/bigdots.png);
  z-index: 0;
  max-width: unset;
}
.hiddendets .hiddeninner .container {
  margin: 0 auto;
}
.hiddendets .hiddeninner .titlebox {
  z-index: 2;
  margin: 10px -45px 0 0;
}
.hiddendets .hiddeninner .titlebox span {
  color: #fff4db;
  margin: 0;
}
.hiddendets .hiddeninner .titlebox span.thin {
  padding-right: 10px;
}
.hiddendets .hiddeninner .btncatwrap {
  position: relative;
  float: left;
  height: 100%;
  width: 270px;
  margin: 80px 0 40px 0;
}
.hiddendets .hiddeninner .btncatwrap .btncat {
  border: 2px solid #fff4db;
  color: #fff4db;
  font-size: 1rem;
  font-weight: bold;
  padding: 3px 30px;
  border-radius: 15px;
  max-width: 180px;
  text-align: center;
  display: block;
}
.hiddendets .hiddeninner .btncatwrap img {
  position: absolute;
  right: 20px;
  top: -60px;
  width: 100px;
  height: auto;
}
.hiddendets .hiddeninner img {
  position: relative;
  z-index: 1;
}
.hiddendets .hiddeninner.active {
  opacity: 1;
  max-height: 900px;
  padding-top: 45px;
}
.hiddendets .hiddeninner a {
  padding: 6px 30px;
  font-size: 1rem;
  margin-top: 30px;
}
.hiddendets.gbg {
  background: #fff4db;
}
.hiddendets.gbg .closebtn {
  background: #fff4db;
  color: #9e182d;
}
.hiddendets.gbg .smalltext {
  color: #969696;
}
.hiddendets.gbg .titlebox span {
  color: #9e182d;
}
.hiddendets.gbg p {
  color: #969696;
}
.hiddendets.gbg .iconswrap {
  align-items: center;
}
.hiddendets.gbg .iconswrap .iconitem {
  align-self: auto;
}
.hiddendets.gbg .iconswrap .iconitem img {
  margin-bottom: 25px;
}
.hiddendets.gbg .iconswrap .iconitem .smalltext {
  color: #969696;
}
.hiddendets.gbg .slick-dots li button:before {
  color: #9e182d !important;
}
.hiddendets.gbg .slick-prev,
.hiddendets.gbg .slick-next {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px 0;
}
.hiddendets.active {
  opacity: 1;
  margin-top: 40px;
}
.hiddendets.active .closebtn {
  right: 20vw;
}
.linhasdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.linhasdiv .linhaout {
  width: calc(50% - 80px);
  position: relative;
  margin-bottom: 60px;
  max-width: 590px;
}
.linhasdiv .linhaout img {
  width: 100%;
  height: auto;
}
.linhasdiv .linhaout:nth-child(5) {
  margin-top: -20px;
}
.linhasdiv .linhaout:last-child {
  margin-top: -40px;
}
.linhasdiv .linhaout .linhainner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}
.linhasdiv .linhaout .linhainner .name {
  color: #fff;
  font-weight: 800;
  font-size: 55px;
}
.linhasdiv .linhaout .linhainner .lbtns {
  position: absolute;
  bottom: -5px;
  right: 20%;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #fff4db;
  color: #fff4db;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  overflow: hidden;
}
.linhasdiv .linhaout .linhainner .lbtns .fa-angle-down {
  font-size: 45px;
  position: absolute;
  right: 9px;
  top: 0;
}
.linhasdiv .linhaout .linhainner .lbtns a {
  opacity: 0;
  width: 40%;
  float: right;
  margin: 0;
  border-radius: 25px;
  color: #9e182d;
  padding: 13px 15px 15px 15px;
  font-size: 1.2rem;
  font-weight: 800;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.linhasdiv .linhaout .linhainner .lbtns a:first-child {
  width: 60%;
}
.linhasdiv .linhaout .linhainner:hover .lbtns,
.linhasdiv .linhaout .linhainner.active .lbtns {
  width: 60%;
  background: #decfae;
}
.linhasdiv .linhaout .linhainner:hover .lbtns a,
.linhasdiv .linhaout .linhainner.active .lbtns a {
  opacity: 1;
  transition-delay: 0.3s;
}
.linhasdiv .linhaout .linhainner:hover .lbtns a:first-child,
.linhasdiv .linhaout .linhainner.active .lbtns a:first-child {
  background: #fff4db;
  z-index: 2;
}
.linhasdiv .linhaout .linhainner:hover .lbtns .fa-angle-down,
.linhasdiv .linhaout .linhainner.active .lbtns .fa-angle-down {
  color: #9e182d;
}
#apl-dets .titlebox {
  margin-top: 45px !important;
}
#galeriaModal .modal-body,
#galeriaModal .modal-content {
  background-color: transparent;
  padding: 0;
  border: none;
}
.modal-backdrop {
  background: #404040;
}
.modaltitle {
  position: absolute;
  top: -35px;
  left: 60px;
  color: #fff;
  font-weight: 800;
  font-size: 60px;
  z-index: 1;
}
.galeriadiv,
.tratamentodiv {
  float: left;
  width: 100%;
}
.galeriadiv .galeriaitem,
.tratamentodiv .galeriaitem {
  float: left;
  border-radius: 25px;
  overflow: hidden;
}
.galeriadiv .galeriaitem img,
.tratamentodiv .galeriaitem img {
  max-width: 875px;
  width: 100%;
  float: left;
}
.galeriadiv .galeriaitem:focus,
.tratamentodiv .galeriaitem:focus {
  outline: none;
}
.galeriadiv .slick-prev:before,
.tratamentodiv .slick-prev:before {
  content: '\f104';
  margin-right: 5px;
}
.galeriadiv .slick-next:before,
.tratamentodiv .slick-next:before {
  content: '\f105 ';
  margin-left: 5px;
}
.galeriadiv .slick-prev,
.tratamentodiv .slick-prev,
.galeriadiv .slick-next,
.tratamentodiv .slick-next {
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff4db;
}
.galeriadiv .slick-prev:before,
.tratamentodiv .slick-prev:before,
.galeriadiv .slick-next:before,
.tratamentodiv .slick-next:before {
  font-family: 'FontAwesome';
  font-size: 45px;
  line-height: 30px;
  opacity: 1;
  color: #9e182d;
}
.galeriadiv .slick-prev:hover,
.tratamentodiv .slick-prev:hover,
.galeriadiv .slick-next:hover,
.tratamentodiv .slick-next:hover,
.galeriadiv .slick-prev:focus,
.tratamentodiv .slick-prev:focus,
.galeriadiv .slick-next:focus,
.tratamentodiv .slick-next:focus {
  background-color: #fff4db;
}
.galeriadiv .slick-dots,
.tratamentodiv .slick-dots {
  bottom: -10px;
}
.galeriadiv .slick-dots li button:before,
.tratamentodiv .slick-dots li button:before {
  color: #fff4db !important;
  width: 30px;
  height: 30px;
  font-size: 18px;
}
@media (max-width: 1650px) {
  #suwouter {
    margin-bottom: 0;
  }
  #suwouter .suwimg {
    float: right;
    display: inline-block;
  }
  #suwouter .suwimg img {
    max-width: 805px;
    width: 45vw;
    min-width: 350px;
    height: auto;
  }
}
@media (max-width: 1236px) {
  #suwouter .imagembotoes {
    display: none;
  }
  #modeloouter {
    margin-bottom: -120px;
  }
}
@media (max-width: 1024px) {
  .smalltext {
    font-size: 1rem;
    line-height: 1.2;
  }
  #modeloouter {
    margin-bottom: 30px;
  }
  #modeloouter .modelimg {
    padding-left: 20vw;
  }
  #modeloouter .titlebox {
    top: calc(50% - 150px);
    max-width: 300px;
    text-align: left;
    left: 0;
    right: unset;
  }
  #modeloouter .titlebox .thin {
    margin: 0;
  }
  #modeloouter .titlebox .fat.big {
    float: left;
    margin-top: 20px;
  }
  #ped-dets {
    padding-bottom: 40px;
  }
  #ped-dets .smalldots,
  #ped-dets img {
    display: none;
  }
  #ped-dets .titlebox {
    text-align: center !important;
    margin: 0 auto;
  }
  #ped-dets .titlebox span {
    float: none !important;
    margin: 0 auto;
  }
  #ped-dets p {
    text-align: center !important;
  }
  #apl-dets .container .col-md-7 {
    display: flex;
    flex-flow: column;
  }
  #apl-dets .container .col-md-7 .btncatwrap {
    align-self: flex-end !important;
  }
  #apl-dets .titlebox,
  #apl-dets p,
  #apl-dets .titlebox span {
    float: none !important;
    text-align: center !important;
    margin: 0 auto;
  }
  #apl-dets img:not(.aplimg) {
    display: none;
  }
  #apl-dets .btncatwrap {
    float: right !important;
    width: 100%;
  }
  #apl-dets .d-flex {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  #apl-dets .d-flex img {
    float: none;
  }
  #apl-dets p {
    margin: 15px 0;
  }
  .titlebox .thin {
    font-size: 25px !important;
  }
  .titlebox .big {
    font-size: 45px !important;
  }
  #suwouter .titlebox {
    text-align: center;
    float: none !important;
    width: 100%;
  }
  #suwouter .titlebox span {
    margin: 0 auto !important;
    float: none !important;
    display: inline-block;
  }
  #suwouter .titlebox span.fat:not(.big) {
    font-size: 28px;
  }
  #suwouter .titlebox span .cornericon {
    right: unset;
    left: 5vw;
    top: -110px;
  }
  .hiddendets .hiddeninner.active {
    max-height: 1500px;
  }
  .smalltext.textmarginleft {
    width: 100%;
    margin-left: 0 !important;
    max-width: unset;
    text-align: center !important;
    padding: 0 10vw;
  }
  .smalltext.flexitem {
    padding-top: 15px;
    padding-right: 0 !important;
  }
  .textimg.mw1021 {
    float: right !important;
    margin-top: 40px !important;
  }
  .bigdots img {
    width: 200%;
    min-width: 900px;
  }
  .smalldots {
    display: none;
  }
  #constrdiv .titlebox {
    margin: 0 auto !important;
  }
  #constrdiv .titlebox span {
    float: none !important;
    margin: 0 auto;
  }
  #constrdiv .titlebox span.fat {
    float: left !important;
    margin: 10px 10px 0 0;
    line-height: 0.9;
    font-size: 35px;
  }
  #constrdiv .d-flex {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  #constrdiv .d-flex .smalltext.flexitem {
    margin-top: 15px;
    text-align: center;
  }
  .iconswrap {
    flex-direction: column;
  }
  .iconswrap .iconitem {
    align-self: center !important;
    margin-bottom: 30px;
  }
  .iconswrap .iconitem.btnitem {
    max-width: 220px;
    margin-top: 45px;
    padding: 0px 10px 20px;
  }
  .iconswrap .iconitem.btnitem img {
    width: calc(100% + 40px);
    margin: -45px auto 15px -20px;
  }
  .container {
    margin-bottom: 60px;
  }
  .linhasdiv {
    justify-content: center;
  }
  .linhasdiv .linhaout {
    width: 80%;
    margin: 0 auto 35px auto;
  }
  .linhasdiv .linhaout .linhainner .name {
    font-size: 35px;
  }
  .linhasdiv .linhaout .linhainner .lbtns {
    width: 90% !important;
    right: 5% !important;
    background: #decfae;
    bottom: -30px;
  }
  .linhasdiv .linhaout .linhainner .lbtns a {
    opacity: 1;
    transition-delay: 0.3s;
  }
  .linhasdiv .linhaout .linhainner .lbtns a:first-child {
    background: #fff4db;
    z-index: 2;
  }
  .linhasdiv .linhaout .linhainner .lbtns .fa-angle-down {
    color: #9e182d;
  }
}
@media (max-width: 430px) {
  #modeloouter .modelimg {
    padding-left: 140px;
  }
  #modeloouter .titlebox {
    padding-left: 20px;
  }
}