﻿@import "../main";

body {
    background-color: transparent !important;
}

.smalltext {
    color: @graytext;
    max-width: 480px;
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: 20px;

    &.textmarginleft {
        margin-left: 15%;

        &.smalmg {
            margin-left: 7vw;
        }
    }

    &.flexitem {
        max-width: unset;
        padding-right: 6vw;
        margin: 0;
    }
}

.objmarginright {
    margin-right: 20%;
}

.textimg {
    width: 100%;

    &.aboveimg {
        z-index: 1;
    }

    &.mw290 {
        max-width: 290px;
        margin-bottom: -280px;
    }

    &.mw659 {
        max-width: 659px;
        margin-bottom: -280px;
    }

    &.mw1512 {
        max-width: 1512px;
        margin: 100px 0 -5vw;
    }

    &.mw1021 {
        max-width: 1021px;
        margin: 100px 0 40px;
    }
}

.bigdots {
    position: absolute;
    top: 0;
    right: -20%;
    width: 100%;
    z-index: -1;
}

.moveelem
{
    .transition(1s ease);
}

.smalldots {
    position: absolute;
    top: -1.5vw;
    left: -12%;
    width: 35vw;
    max-width: 650px;
    z-index: -1;

    img {
        width: 100%;
    }
}

.titlebox {
    text-align: center;
    float: left;
    margin-left: -7.5vw;
    position: relative;
    padding-bottom: 20px;

    span {
        font-size: 45px;
        color: @red;
        z-index: -1;
        margin-bottom: 15px;

        .cornericon {
            position: absolute;
            top: 60px;
            right: 0;
            height: 35px;
        }

        &.titlemleft {
            margin-left: 35px;
        }

        &.titlemleftneg {
            margin-left: -15px;
        }

        &.fat {
            font-weight: bold;
        }

        &.big {
            font-size: 65px;
            font-weight: 800;
        }
    }
}

#modeloouter {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    padding-left: 5vw;
    margin: 0 0 -300px 0;

    .titlebox {
        //display: inline-block;
        float: none;
        padding: 0 0 0 60px;
        position: absolute;
        /*right: 25%;*/
        left: 0;
        right: 0;
        margin: 0 auto;
        top: ~"calc(50% - 140px)";
        z-index: 1;


        .thin {
            font-size: 46px;
            margin-right: 240px;
            font-weight: 200;
        }

        .big {
            font-size: 82px;
        }
    }

    .modelimg {
        padding-left: 400px;
        position: relative;
        display: inline-block;

        img {
            //290x729
            max-width: 290px;
            width: 20vw;
            min-width: 150px;
            height: auto;
        }

        .braco {
            position: absolute;
            right: 0;
            height: auto;
            z-index: 2;
        }
    }
}

#suwouter {
    width: 100%;
    float: left;
    margin: 120px 0 -100px 0;

    .titlebox {
        margin: 0 auto;
        display: inline-block;
        float: right;
        text-align: left;
        padding-top: 40px;

        .thin {
            margin-left: -60px;
        }

        span.fat {
            float: right;
            margin-left: -20px;
            margin-bottom: 0;
        }

        span.big {
            margin-right: -120px;
            float: right;
            font-size: 72px;
        }
    }

    .imagembotoes {
        float: right;
        margin: 60px 30px 0 0;
    }

    .suwimg {
        float: right;
        display: inline-block;

        img {
            //290x729
            //width: 290px;
            height: auto;
            max-width: 805px;
            width: 45vw;
            min-width: 350px;
            height: auto;
        }

        .etiqueta {
            position: absolute;
            right: 0;
            height: auto;
            z-index: 2;
        }
    }
}

#constrdiv {
    .textimg {
        width: 55%;
        min-width: 380px;
    }
}

.iconswrap {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;


    .iconitem {
        text-align: center;
        max-width: 300px;
        align-self: flex-end;

        .smalltext {
            font-size: 0.9rem;
        }

        &.btnitem {
            background: @red;
            position: relative;
            border-radius: 25px;
            align-self: flex-end;
            cursor: pointer;
            padding: 20px;

            img {
                width: ~"calc(100% + 100px)";
                margin: -85px auto 15px -50px;
            }

            .smalltext, span {
                color: #fff;
            }

            span {
                text-align: center;
                width: 100%;
                font-size: 25px;
                font-weight: 600;
            }

            &:before, &:after {
                content: '';
                height: 8px;
                width: 8px;
                background: @red;
                display: block;
                border-radius: 50%;
                position: absolute;
                z-index: -1;
                top: ~"calc(50% - 4px)";
                .transition(0.5s ease);
                opacity: 0;
            }

            &:before {
                left: -30px;
                opacity: 1;
            }

            &:after {
                right: -30px;
                opacity: 1;
            }
        }

        &.card {
            position: relative;
            border-radius: 25px;
            align-self: flex-end;
            padding: 20px;
            border: 1px solid @gold;
            max-width: 260px;
            cursor: pointer;

            span {
                color: @gold;
                text-align: center;
                width: 100%;
                font-size: 25px;
                font-weight: 600;
            }

            &.active {
                background: @lightgold;
                border: none;

                span {
                    color: @red;
                }
            }
        }
    }
}

.container {
    margin-top: 150px;
    margin-bottom: 150px;
}

.hiddendets {
    background: @red;
    position: relative;
    border-radius: 30px;
    width: 100%;
    margin-top: 0;
    float: left;
    opacity: 0;
    .transition();



    .closebtn {
        height: 30px;
        width: 30px;
        position: absolute;
        top: -15px;
        background: @red;
        color: @lightgold;
        z-index: 2;
        right: -20vw;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
    }

    .hiddeninner {
        padding-top: 0;
        color: @lightgold;
        opacity: 0;
        .transition(1s ease);
        max-height: 0;
        overflow: hidden;
        position: relative;

        .smalltext, p {
            color: @lightgold;
            font-size: 1rem;
            line-height: 1.4 !important;
        }

        .smalldots {
            left: 0 !important;
            width: 100%;
            height: 100%;
            margin: 0 !important;
            background-repeat: no-repeat;
            background-size: 30%;
            background-position: right 30%;
            top: 0;
            background-image: url(Images/bigdots.png);
            z-index: 0;
            max-width: unset;
        }

        .container {
            margin: 0 auto;
        }

        .titlebox {
            z-index: 2;
            margin: 10px -45px 0 0;

            span {
                color: @lightgold;
                margin: 0;

                &.thin {
                    padding-right: 10px;
                }
            }
        }

        .btncatwrap {
            position: relative;
            float: left;
            height: 100%;
            width: 270px;
            margin: 80px 0 40px 0;

            .btncat {
                border: 2px solid @lightgold;
                color: @lightgold;
                font-size: 1rem;
                font-weight: bold;
                padding: 3px 30px;
                border-radius: 15px;
                max-width: 180px;
                text-align: center;
                display: block;
            }

            img {
                position: absolute;
                right: 20px;
                top: -60px;
                width: 100px;
                height: auto;
            }
        }

        img {
            position: relative;
            z-index: 1;
        }

        &.active {
            opacity: 1;
            max-height: 900px;
            padding-top: 45px;
        }

        a {
            padding: 6px 30px;
            font-size: 1rem;
            margin-top: 30px;
        }
    }

    &.gbg {
        background: @lightgold;

        .closebtn {
            background: @lightgold;
            color: @red;
        }

        .smalltext {
            color: @graytext;
        }

        .titlebox span {
            color: @red;
        }

        p {
            color: @graytext;
        }

        .iconswrap {
            align-items: center;

            .iconitem {
                align-self: auto;

                img {
                    margin-bottom: 25px;
                }

                .smalltext {
                    color: @graytext;
                }
            }
        }

        .slick-dots li button:before {
            color: @red !important;
        }

        .slick-prev, .slick-next {
            box-shadow: rgba(0,0,0,0.1) 0 0 10px 0;
        }
    }

    &.active {
        opacity: 1;
        margin-top: 40px;

        .closebtn {
            right: 20vw;
        }
    }
}

.linhasdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    .linhaout {
        width: ~"calc(50% - 80px)";
        position: relative;
        margin-bottom: 60px;
        max-width: 590px;

        img {
            width: 100%;
            height: auto;
        }

        &:nth-child(5) {
            margin-top: -20px;
        }

        &:last-child {
            margin-top: -40px;
        }

        .linhainner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            cursor: pointer;

            .name {
                color: #fff;
                font-weight: 800;
                font-size: 55px;
            }

            .lbtns {
                position: absolute;
                bottom: -5px;
                right: 20%;
                height: 50px;
                width: 50px;
                text-align: center;
                border-radius: 25px;
                border: 1px solid @lightgold;
                color: @lightgold;
                .transition(0.5s ease);
                overflow: hidden;

                .fa-angle-down {
                    font-size: 45px;
                    position: absolute;
                    right: 9px;
                    top: 0;
                }

                a {
                    opacity: 0;
                    .transition;
                    width: 40%;
                    float: right;
                    margin: 0;
                    border-radius: 25px;
                    color: @red;
                    padding: 13px 15px 15px 15px;
                    font-size: 1.2rem;
                    font-weight: 800;
                    .transition(0.5s ease);


                    &:first-child {
                        width: 60%;
                    }
                }
            }

            &:hover .lbtns, &.active .lbtns {
                width: 60%;
                background: #decfae;

                a {
                    opacity: 1;
                    transition-delay: 0.3s;

                    &:first-child {
                        background: @lightgold;
                        z-index: 2;
                    }
                }

                .fa-angle-down {
                    color: @red;
                }
            }
        }
    }
}

#apl-dets {
    .titlebox {
        margin-top: 45px !important;
    }
}

#galeriaModal {
    .modal-body, .modal-content {
        background-color: transparent;
        padding: 0;
        border: none;
    }
}

.modal-backdrop {
    background: #404040;
}

.modaltitle {
    position: absolute;
    top: -35px;
    left: 60px;
    color: #fff;
    font-weight: 800;
    font-size: 60px;
    z-index: 1;
}

.galeriadiv, .tratamentodiv {
    float: left;
    width: 100%;

    .galeriaitem {
        float: left;
        border-radius: 25px;
        overflow: hidden;

        img {
            max-width: 875px;
            width: 100%;
            float: left;
        }

        &:focus {
            outline: none;
        }
    }


    .slick-prev:before {
        content: '\f104';
        margin-right: 5px;
    }

    .slick-next:before {
        content: '\f105 ';
        margin-left: 5px;
    }

    .slick-prev, .slick-next {
        width: 50px;
        height: 50px;
        z-index: 1;
        border-radius: 50%;
        background-color: @lightgold;

        &:before {
            font-family: 'FontAwesome';
            font-size: 45px;
            line-height: 30px;
            opacity: 1;
            color: @red;
        }

        &:hover, &:focus {
            background-color: @lightgold;
        }
    }

    .slick-dots {
        bottom: -10px;

        li button:before {
            color: @lightgold !important;
            width: 30px;
            height: 30px;
            font-size: 18px;
        }
    }
}

@media (max-width:1650px) {
    #suwouter {
        margin-bottom: 0;

        .suwimg {
            float: right;
            display: inline-block;

            img {
                //290x729
                //width: 290px;
                height: auto;
                max-width: 805px;
                width: 45vw;
                min-width: 350px;
                height: auto;
            }
        }
    }
}

@media (max-width:1236px) {
    #suwouter .imagembotoes {
        display: none;
    }

    #modeloouter {
        margin-bottom: -120px;
    }
}

@media (max-width:1024px) {

    .smalltext {
        font-size: 1rem;
        line-height: 1.2;
    }

    #modeloouter {
        margin-bottom: 30px;

        .modelimg {
            padding-left: 20vw;
        }

        .titlebox {
            top: ~"calc(50% - 150px)";
            max-width: 300px;
            text-align: left;
            left: 0;
            right: unset;

            .thin {
                margin: 0;
            }

            .fat.big {
                float: left;
                margin-top: 20px;
            }
        }
    }

    #ped-dets {
        padding-bottom: 40px;

        .smalldots, img {
            display: none;
        }

        .titlebox {
            text-align: center !important;
            margin: 0 auto;

            span {
                float: none !important;
                margin: 0 auto;
            }
        }

        p {
            text-align: center !important;
        }
    }

    #apl-dets {
        .container .col-md-7 {
            display: flex;
            flex-flow: column;

            .btncatwrap {
                align-self: flex-end !important;
            }
        }

        .titlebox, p, .titlebox span {
            float: none !important;
            text-align: center !important;
            margin: 0 auto;
        }

        img:not(.aplimg) {
            display: none;
        }

        .btncatwrap {
            float: right !important;
            width: 100%;
        }

        .d-flex {
            flex-wrap: wrap;
            flex-direction:column-reverse;
            align-items:center;
            text-align:center;

            img
                {
                float:none;
            }
        }

        p{
            margin:15px 0;
        }
    }

    .titlebox {
        .thin {
            font-size: 25px !important;
        }

        .big {
            font-size: 45px !important;
        }
    }

    #suwouter .titlebox {
        text-align: center;
        float: none !important;
        width: 100%;

        span {
            margin: 0 auto !important;
            float: none !important;
            display: inline-block;

            &.fat:not(.big) {
                font-size: 28px;
            }

            .cornericon {
                right: unset;
                left: 5vw;
                top: -110px;
            }
        }
    }

    .hiddendets .hiddeninner.active {
        max-height: 1500px;
    }

    .smalltext.textmarginleft {
        width: 100%;
        margin-left: 0 !important;
        max-width: unset;
        text-align: center !important;
        padding: 0 10vw
    }

    .smalltext.flexitem
    {
        padding-top:15px;
        padding-right:0 !important;
    }

    .textimg.mw1021
    {
        float:right !important;
        margin-top:40px !important;
    }

    .bigdots {
        img {
            width: 200%;
            min-width: 900px;
        }
    }

    .smalldots {
        display: none;
    }

    #constrdiv {
        .titlebox {
            margin: 0 auto !important;

            span {
                float: none !important;
                margin: 0 auto;

                &.fat {
                    float: left !important;
                    margin: 10px 10px 0 0;
                    line-height: 0.9;
                    font-size: 35px;
                }
            }
        }

        .d-flex {
            flex-direction: column;
            flex-flow: column-reverse;

            .smalltext.flexitem {
                margin-top: 15px;
                text-align: center;
            }
        }
    }

    .iconswrap {
        flex-direction: column;

        .iconitem {
            align-self: center !important;
            margin-bottom: 30px;

            &.btnitem {
                max-width: 220px;
                margin-top: 45px;
                padding: 0px 10px 20px;

                img {
                    width: calc(100% + 40px);
                    margin: -45px auto 15px -20px;
                }
            }
        }
    }

    .container {
        margin-bottom: 60px;
    }

    .linhasdiv {
        justify-content: center;

        .linhaout {
            width: 80%;
            margin: 0 auto 35px auto;

            .linhainner {
                .name {
                    font-size: 35px;
                }

                .lbtns {
                    width: 90% !important;
                    right: 5% !important;
                    background: #decfae;
                    bottom: -30px;

                    a {
                        opacity: 1;
                        transition-delay: 0.3s;

                        &:first-child {
                            background: @lightgold;
                            z-index: 2;
                        }
                    }

                    .fa-angle-down {
                        color: @red;
                    }
                }
            }
        }
    }
}


@media (max-width:430px) {
    #modeloouter {
        .modelimg {
            padding-left: 140px;
        }

        .titlebox {
            padding-left: 20px;
        }
    }
}
