/*Small devices (landscape phones, 576px and up)*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 320px) and (max-width: 768px) {
    .box_heading {
        text-align: center !important;
        margin: 0 auto 50px auto !important;
        right: 150px !important;
        position: inherit !important;
    }
    .parallax_img {
        display: none !important;
    }
    .btn_custom {
        background-color: #9e182d !important;
        color: #ffffff !important;
        width: 70% !important;
        margin: 0 15% !important;
    }
    .address {
        display: block !important;
        position: relative !important;
        bottom: 0 !important;
        margin-top: 75px !important;
    }
    .unit {
        text-align: center !important;
        margin: 0 0 30px 0 !important;
    }
    .second_line {
        margin-left: 0 !important;
    }
    #img_inter {
        height: 300px !important;
        width: auto !important;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .title_map_inter {
        text-align: center !important;
        padding-bottom: 20px !important;
    }
    #map_brasil_mobile {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-image: url("img/fundo_mapa_brasil.png");
        background-repeat: no-repeat;
        background-size: 120px;
        background-position-x: 60px;
        padding-top: 10px;
    }
    .box_representantes {
        text-align: left !important;
        position: absolute !important;
        top: -50px !important;
        left: 10px !important;
    }
    .title_map span {
        font-size: 32px !important;
        padding-left: 40px !important;
    }
    #title_inter {
        font-size: 40px !important;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* containers */

.bg-contact {
    background-image: url("img/mundi.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    min-height: 1000px;
}

.main {
    min-height: 1000px;
    margin: 150px 0 75px 0;
}

/* customização de textos */

.txt_select {
    color: gray;
    line-height: 1.6em;
}

.box_select {
    min-height: 300px;
}

.box_representantes {
    text-align: left;
    z-index: 2;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    right: 100px;
}

.box_heading {
    text-align: left;
    z-index: 2;
    margin: 0 auto;
    right: 150px;
    position: absolute;
}

.titlebox span {
    font-size: 45px;
    color: #9e182d;
    z-index: -1;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.title_map span {
    font-size: 60px;
    color: #9e182d;
    z-index: -1;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

#title_inter {
    font-size: 60px;
    color: #9e182d;
    font-weight: bold;
}

.title_map_inter {
    background: white;
    border-radius: 8px;
    padding: 10px;
}

.title_map_inter h1 {
    color: #9e182d;
    padding: 10px 0;
}

.title_map_inter p {
    color: gray;
    font-size: 12px;
    padding: 1px 0;
}

#txt_inter p, #txt_state {
    color: gray;
    padding: 10px;
}

.mouse_hover {
    position: absolute;
    top: 200px;
    right: 20px;
    width: 200px;
    font-size: 12px;
    color: gray;
}

/* customização do mapa svg */

section {
    padding-top: 70px;
}

#map_brasil {
    background-image: url("img/fundo_mapa_brasil.png");
    background-repeat: no-repeat;
    background-position-x: 31px;
    background-size: 309px;
}

#map_inter {
    background-repeat: no-repeat;
    background-position-x: 31px;
    background-size: 309px;
}

/* elementos da página */

.second_line {
    margin-left: 50px;
}

.parallax_img {
    display: block;
    position: absolute;
    top: -200px;
    width: 300px;
}

.address {
    display: block;
    position: absolute;
    bottom: 10px;
}

.unit {
    color: gray;
    margin: 0px 10px 20px 30px;
}

.unit > h2 {
    font-size: 1.0rem !important;
}

.unit > p {
    font-size: 0.8rem !important;
}

/* botão custom */

.btn_custom {
    border: solid 2px #9e182d;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    display: block;
    color: #9e182d;
    width: 35%;
    float: right;
    cursor: pointer;
}

.btn_custom:hover {
    background-color: #9e182d;
    color: #ffffff;
    moz-transition: .5s ease;
    -o-transition: .5s ease;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.btn_custom_outline {
    border: solid 2px #9e182d;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    color: #9e182d;
    cursor: pointer;
    margin-bottom: 100px;
    width: 300px;
}

/* customização select de países */

#country {
    display: none;
}

.icon_select_mate {
    position: absolute;
    top: 10px;
    right: 2%;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
}

.select_mate, .select_mate_state {
    position: relative;
    border: 2px solid #97182b;
    min-width: 300px;
    width: 300px;
    min-height: 30px;
    color: #97182b;
    font-weight: 300;
    border-radius: 30px;
    margin: 20px auto;
    transition: all 375ms ease-in-out;
    margin: 20px auto 200px auto;
}

.select_mate_state {
    margin: 20px auto !important;
}

.select_mate select, .select_mate_state select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.selected {
    text-align: center;
    padding: 10px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;
}

.cont_select_int li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F5F5F5;
    list-style-type: none;
    padding: 10px 2%;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
}

.cont_select_int li:hover {
     background-color: #EEEEEE;
}

.cont_select_int li.active {
    background-color: #EEEEEE;
}

.cont_select_int li:last-child {
    border-radius: 3px;
    border-bottom:0px;
}

/* override bootstrap form input */

.form-control[type='text']::-webkit-input-placeholder, .form-control[type='email']::-webkit-input-placeholder, select.form-control {
    color: #495057 !important;
}

.form-control[type='text'], .form-control[type='email'], select.form-control {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #ced4da !important;
    border-radius: 0 !important;
    outline: none;
    padding: 0 0 0 7px !important;
    color: #495057 !important;
}

.form-control[type='text']:focus, .form-control[type='email']:focus, select.form-control:focus {
    border-bottom-color: #97182b !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

textarea.form-control {
    background-color: transparent !important;
    border: 2px solid #ced4da !important;
    border-radius: 8px !important;
    outline: none;
    resize: none !important;
}

textarea.form-control:focus {
    border-color: #97182b !important;
    box-shadow: none !important;
    outline: 0 none !important;
    resize: none !important;
}

/* efeitos de animação do css */

.fadeout {
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}