﻿@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
html,
body {
  height: 100%;
  width: 100%;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.wrapper.form-success .container h1 {
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.fontHighwayCond {
  letter-spacing: 5px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  z-index: 200;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.container h1 {
  font-size: 25px;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-put;
  -o-transition-timing-function: ease-in-put;
  -webkit-transition-timing-function: ease-in-put;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: white;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #000000;
}
form button {
  appearance: none;
  outline: 0;
  background-color: transparent;
  border: 0;
  padding: 10px 15px;
  color: white !important;
  border: 1px solid white;
  color: #000000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 150px;
  cursor: pointer;
  font-size: 18px;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
form button:hover {
  background-color: #ededed;
  color: #113052 !important;
}
.logo_div {
  position: absolute;
  bottom: 15px;
  right: 25px;
  text-align: center;
}
.logo_div img {
  width: 80px;
  height: auto;
}
.bottomsec {
  position: absolute;
  bottom: 15px;
  left: 15px;
  border-radius: 5px;
  padding: 10px 20px;
  z-index: 150;
  line-height: 15px;
}
.bottomsec .headere {
  font-size: 14px;
  line-height: 25px;
  color: #83a5ca;
}
.bottomsec span,
.bottomsec a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .bottomsec {
    display: none;
  }
}
/*# sourceMappingURL=Acesso.css.map */